.main{
    min-height: 91vh;
    display: flex;
    align-items: center;
    background-image: url('../../assets/bg.jpeg');
    background-position: center;
    background-size: cover;
}

.title{
    font-size: 95px;
}

.intro-text{
    width: 100%;
    text-align: center;
}

.buttoncontainer{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.landingButton{
    width: 200px;
    height: 55px;
}

@media only screen and (min-width:1200px){
    .buttoncontainer{
        padding: 0 200px;
    }

    .title{
        padding: 0 100px;
    }
}

@media only screen and (min-width:768px){
    .landingButton{
        width: 150px;
        height: 50px;
    }

    .title{
        font-size: 60px;
    }
}